body {
    background-color:lightblue
    font-family: chartreuse ;
    font-size: linearGradient;
    font-weight: 900;
}
h1{
    color: brown;

}
h2{
    color: greenyellow
    font-size: small;
    font-family: time